{% extends 'home/base.html' %}
{% load static %}
{% block title %} Market Trader System{% endblock %}

{% block content %}
    <!-- Revolution Layer Slider -->
    <div id="rev_slider_1077_6_wrapper" class="rev_slider_wrapper fullscreen-container pro-six-rev" data-alias="scroll-effect136" data-source="gallery" style="padding:0;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_1077_6" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE 1 -->
                <li data-index="rs-3042" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'home/images/revolution_layer_slider_demo_6/Slider_01_03.jpg' %}"  alt=""  data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat"  class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="container" style="position: relative;">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption BigBold-SubTitle  "
                             id="slide-3043-layer-c"
                             data-x="['left','left','left','left']" data-hoffset="['100','15','15','15']"
                             data-y="['top','top','top','top']" data-voffset="['140','90','30','20']"
                             data-fontsize="['18','18','18','14']"
                             data-width="['100%','100%','100%','100%']"
                             data-height="none"
                             data-whitespace="normal"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                  "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                  {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 12;  white-space: normal; line-height: 1.5;">
                            <span>Market Trader System</span>

                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption BigBold-Title   tp-resizeme"
                             id="slide-3043-layer-1"
                             data-x="['left','left','left','left']" data-hoffset="['100','15','15','15']"
                             data-y="['top','top','top','top']" data-voffset="['170','110','40','40']"
                             data-fontsize="['50','40','30','24']"
                             data-lineheight="['70','50','40','30']"
                             data-width="['100%','100%','100%','100%']"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"

                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                    "mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;",
                    "delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; white-space: nowrap; color:#212121; ">
                            Track <br>
                            <span>every sale &amp; purchase</span>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                             id="slide-3043-layer-7"
                             data-x="['left','left','left','left']" data-hoffset="['100','15','15','15']"
                             data-y="['top','top','top','top']" data-voffset="['350','270','200','150']"

                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="button"
                             data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-4cols.html"}]'
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                      "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                      {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},
                      {"frame":"hover","speed":"300","ease":"Power1.easeInOut",
                      "to":"o:1;rX:0;rY:0;rZ:0;z:0;",
                      "style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius: 200px;">
                            <button class="btn btn-primary"> Explore</button>
                        </div>
                    </div>
                </li>
                <!-- SLIDE 2 -->
                <li data-index="rs-3044" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'home/images/revolution_layer_slider_demo_6/Slider_01_01.jpg' %}"  alt=""  data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <div class="container" style="position: relative;">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption BigBold-SubTitle  "
                             id="slide-3043-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['140','90','30','20']"
                             data-fontsize="['18','18','18','14']"
                             data-width="['100%','100%','100%','100%']"
                             data-height="none"
                             data-whitespace="normal"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                  "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                  {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 12;  white-space: normal; line-height: 1.5;">
                            <span>Access to a</span>

                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption BigBold-Title   tp-resizeme"
                             id="slide-3043-layer-a"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['170','110','40','40']"
                             data-fontsize="['50','40','30','24']"
                             data-lineheight="['70','50','40','30']"
                             data-width="['100%','100%','100%','100%']"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"

                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                  "mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;",
                  "delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; white-space: nowrap; color:#000; ">
                            POS Dasboard<br>
                            <span>to automate every sale</span>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                             id="slide-3043-layer-9"
                             data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                             data-y="['top','top','top','top']" data-voffset="['350','270','200','150']"

                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="button"
                             data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-4cols.html"}]'
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                      "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                      {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},
                      {"frame":"hover","speed":"300","ease":"Power1.easeInOut",
                      "to":"o:1;rX:0;rY:0;rZ:0;z:0;",
                      "style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius: 200px;">
                            <button class="btn btn-primary"> Login</button>
                        </div>
                    </div>
                </li>
                <!-- SLIDE 3 -->
                <li data-index="rs-3045" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'home/images/revolution_layer_slider_demo_6/Slider_01_02.jpg' %}"  alt=""  data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="container" style="position: relative;">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption BigBold-SubTitle  "
                             id="slide-3043-layer-2"
                             data-x="['left','left','left','left']" data-hoffset="['603','480','300','20']"
                             data-y="['top','top','top','top']" data-voffset="['140','90','30','20']"
                             data-fontsize="['18','18','18','14']"
                             data-width="['580','580','100%','100%']"
                             data-height="none"
                             data-whitespace="normal"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                    "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 12;  white-space: normal;  line-height: 1.5;color: #fff; ">
                            <span>Generate your cash flow reports of your</span>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption BigBold-Title   tp-resizeme"
                             id="slide-3043-layer-b"
                             data-x="['left','left','left','left']" data-hoffset="['602','480','300','20']"
                             data-y="['top','top','top','top']" data-voffset="['170','110','40','40']"
                             data-fontsize="['50','40','30','24']"
                             data-lineheight="['70','50','40','30']"
                             data-width="['580','580','100%','100%']"
                             data-height="none"
                             data-whitespace="['nowrap','nowrap','nowrap','normal']"

                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"

                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                      "mask":"x:0px;y:[-100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;",
                      "delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                             data-textAlign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; white-space: nowrap; color:#fff; ">
                            Goods <br>
                            <span>at any given time</span>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                             id="slide-3043-layer-3"
                             data-x="['left','left','left','left']" data-hoffset="['602','480','300','20']"
                             data-y="['top','top','top','top']" data-voffset="['350','270','200','150']"

                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="button"
                             data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-4cols.html"}]'
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                        "speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},
                        {"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},
                        {"frame":"hover","speed":"300","ease":"Power1.easeInOut",
                        "to":"o:1;rX:0;rY:0;rZ:0;z:0;",
                        "style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius: 3px;">
                            <button class="btn btn-primary"> Login</button>
                        </div>

                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
    </div><!-- END REVOLUTION SLIDER -->

    <div class="pro-banner-cate6 pro-content arrow6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="pro-heading-title4">
                        <div class="inner-heading">
                            <div class="inner-text">
                                <h2 class="">
                                    2019/2020 CS Project
                                </h2>
                                {#                                <p>find your best collection</p>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="cate6-carousel-js row ">
                        <div class="">
                            <div class="cat-banner6 flashleft">
                                <img class="img-fluid" src="{% static 'home/images/index-6/man-img1.jpg' %}" alt="Categroy banner">
                                <div class="contain-banner">
                                    <div class="inner-bg">
                                        <h2>M <br>
                                            <span>Market</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="cat-banner6 flashleft">
                                <img class="img-fluid" src="{% static 'home/images/index-6/women-img2.jpg' %}" alt="Categroy banner">
                                <div class="contain-banner">
                                    <div class="inner-bg">
                                        <h2>T <br>
                                            <span>Trader</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="cat-banner6 flashleft">
                                <img class="img-fluid" src="{% static 'home/images/index-6/kids-img3.jpg' %}" alt="Categroy banner">
                                <div class="contain-banner">
                                    <div class="inner-bg">
                                        <h2>S<br>
                                            <span>System</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pro-banners-content pro-content">
        <div class="fullwidth-banner6">
            <div class="col-12 col-lg-6 parallax-banner-text">
                <h2>The MTS</h2>
                <p>
                    Tracks sales, purchases and profit, and generates cash flow report of goods at any time
                </p>
                <button class="btn btn-light">Register</button>
            </div>
        </div>
    </div>
{% endblock %}