{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Cash Flow {% endblock %}
{% block page-title %}Cash Flow Logs{% endblock %}
{% block nav-link-cash-flow %} active {% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div class="card card-custom gutter-b bg-transparent shadow-none border-0" >
                <div class="card-header align-items-center  border-bottom-dark px-0">
                    <div class="card-title mb-0">
                        <h3 class="card-label mb-0 font-weight-bold text-body">Cash Flows History
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="card card-custom gutter-b bg-white border-0" >
                <div class="card-body" >
                    {% if cashFlows %}
                        <div >
                            <div class=" table-responsive" id="printableTable">
                                <table id="productUnitTable" class="display ">
                                    <thead class="text-body">
                                    <tr>
                                        <th>Date</th>
                                        <th class="">Purchase</th>
                                        <th class="">Sale</th>
                                        <th class="">Created by</th>
                                    </tr>
                                    </thead>
                                    <tbody class="kt-table-tbody text-dark">
                                    {% for flow in cashFlows %}
                                        <tr class="kt-table-row kt-table-row-level-0">
                                            <td class="">{{ flow.created_at }}</td>
                                            <td class="">
                                                ₦{{ flow.product_purchase_amount }}
                                            </td>
                                            <td class="">
                                                ₦{{ flow.product_sale_amount }}
                                            </td>
                                            <td class="">
                                                {% if flow.product_purchase %}
                                                    {{ flow.product_purchase.created_by.name }}
                                                {% else %}
                                                    {{ flow.product_sale.created_by.name }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 text-center">
                            <h5>Cash Flow History is Empty</h5>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
