{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>MTS | POS Dashboard</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" /> -->
    <!--end::Fonts-->
    <link rel="stylesheet" href="{% static 'home/vendors/fontawesome/css/all.min.css' %}">
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static 'dashboard/assets/css/style.css@v=1.0.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->

    <link href="{% static 'dashboard/assets/api/pace/pace-theme-flat-top.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/assets/api/mcustomscrollbar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'dashboard/assets/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/assets/css/multiple-select.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/daterangepicker.css' %}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'home/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'home/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#dccbee">

    {% block link %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="tc_body" class="header-fixed header-mobile-fixed subheader-enabled aside-enabled aside-fixed">
<!-- Paste this code after body tag -->
<div class="se-pre-con">
    <div class="pre-loader">
        <img class="img-fluid" src="{% static 'dashboard/assets/images/loadergif.gif' %}" alt="loading">
    </div>
</div>
<!-- pos header -->

<header class="pos-header bg-white">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="greeting-text">
                    <h3 class="card-label mb-0 font-weight-bold text-primary">WELCOME
                    </h3>
                    <h3 class="card-label mb-0 text-truncate">
                        {{ request.user.name|truncatewords:4 }}
                    </h3>
                </div>

            </div>
            <div class="col-xl-4 col-lg-5 col-md-6  clock-main">
                <div class="clock">
                    <div class="datetime-content">
                        <ul>
                            <li id="hours"></li>
                            <li id="point1">:</li>
                            <li id="min"></li>
                            <li id="point">:</li>
                            <li id="sec"></li>
                        </ul>
                    </div>
                    <div class="datetime-content">
                        <div id="Date"  class=""></div>
                    </div>

                </div>

            </div>
            <div class="col-xl-4 col-lg-3 col-md-12  order-lg-last order-second">
                <div class="topbar justify-content-end">
                    <div class="dropdown mega-dropdown">
                        <div id="id2" class="topbar-item "  data-toggle="dropdown" data-display="static">
                            <div class="btn btn-icon w-auto h-auto btn-clean d-flex align-items-center py-0 mr-3">

							 <span class="symbol symbol-35 symbol-light-success">
								 <span class="symbol-label bg-primary  font-size-h5 ">

									 <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="#fff" class="bi bi-calculator-fill" viewBox="0 0 16 16">
										 <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
									   </svg>
								 </span>
							 </span>
                            </div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right calu" style="min-width: 248px;">
                            <div class="calculator">
                                <div class="input" id="input"></div>
                                <div class="buttons">
                                    <div class="operators">
                                        <div>+</div>
                                        <div>-</div>
                                        <div>&times;</div>
                                        <div>&divide;</div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="leftPanel">
                                            <div class="numbers">
                                                <div>7</div>
                                                <div>8</div>
                                                <div>9</div>
                                            </div>
                                            <div class="numbers">
                                                <div>4</div>
                                                <div>5</div>
                                                <div>6</div>
                                            </div>
                                            <div class="numbers">
                                                <div>1</div>
                                                <div>2</div>
                                                <div>3</div>
                                            </div>
                                            <div class="numbers">
                                                <div>0</div>
                                                <div>.</div>
                                                <div id="clear">C</div>
                                            </div>
                                        </div>
                                        <div class="equal" id="result">=</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="topbar-item" data-toggle="dropdown" data-display="static">
                            <div class="btn btn-icon w-auto h-auto btn-clean d-flex align-items-center py-0">

							 <span class="symbol symbol-35 symbol-light-success">
								 <span class="symbol-label font-size-h5 ">
									 <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										 <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
									 </svg>
								 </span>
							 </span>
                            </div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 150px;">
                            <a href="{% url 'dashboard:logout' %}" class="dropdown-item">
							 <span class="svg-icon svg-icon-xl svg-icon-primary mr-2">
								 <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power">
									 <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
									 <line x1="12" y1="2" x2="12" y2="12"></line>
								 </svg>
							 </span>
                                Logout
                            </a>
                            <a href="{% url 'dashboard:statistics' %}" class="dropdown-item">
                                <i class="fa fa-briefcase pr-4"></i> MTS Management
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</header>


<div class="contentPOS">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 order-xl-first order-last">
                <div class="card card-custom gutter-b bg-white border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between colorfull-select">
                            <div class="selectmain">
                                <select class="arabic-select w-150px bag-primary">
                                    <option value="">All Categories</option>
                                    <option value="2">Accessories</option>
                                </select>
                            </div>
                            {#                            <div class="selectmain">#}
                            {#                                <select class="arabic-select w-150px bag-secondary">#}
                            {#                                    <option value="1">Men's</option>#}
                            {#                                    <option value="2">Accessories</option>#}
                            {#                                </select>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <div class="product-items">
                        <div class="row">
                            <div class="col-xl-4 col-lg-2 col-md-3 col-sm-4 col-6">
                                <div class="productCard">
                                    <div class="productThumb">
                                        <img class="img-fluid" src="{% static 'dashboard/assets/images/carousel/element-banner2-right.jpg' %}" alt="ix">
                                    </div>
                                    <div class="productContent">
                                        <a href="javascript:void(0)">
                                            Men Polo Shirt (M) -MPS[2545-P]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xl-5 col-lg-8 col-md-8">
                <div class="">
                    <div class="card card-custom gutter-b bg-white border-0 table-contentpos">
                        <div class="card-body" >
                            <div class="form-group row mb-0">
                                <div class="col-md-12">
                                    <label >Selected Items</label>
                                    {#                                    <fieldset class="form-group mb-0 d-flex barcodeselection">#}
                                    {#                                        <select class="form-control w-25" id="exampleFormControlSelect1">#}
                                    {#                                            <option>Name</option>#}
                                    {#                                            <option>SKU</option>#}
                                    {#                                        </select>#}
                                    {#                                        <input type="text" class="form-control border-dark" id="basicInput1" placeholder="">#}
                                    {#                                    </fieldset>#}
                                </div>
                            </div>
                        </div>
                        <div class="table-datapos pb-3">
                            <div class="table-responsive" id="printableTable">
                                <table id="orderTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Discount</th>
                                        <th>Subtotal</th>
                                        <th class=" text-right no-sort"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>
                                            <input type="number" value="10" class="form-control border-dark w-100px" id="basicInput2" placeholder="">
                                        </td>
                                        <td>000</td>
                                        <td>000</td>
                                        <td>
                                            <div class="card-toolbar text-right">
                                                <a href="javascript:void(0)" class="confirm-delete" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="card card-custom gutter-b bg-white border-0">
                    <div class="card-body" >
                        <div class="shop-profile">
                            <div class="media">
                                <div class="bg-primary w-100px h-100px d-flex justify-content-center align-items-center">
                                    <h2 class="mb-0 white">K</h2>
                                </div>
                                <div class="media-body ml-3">
                                    <h3 class="title font-weight-bold">The MTS POS</h3>
                                    <p class="phoonenumber">
                                        {{ request.user.phone }}
                                    </p>
                                    <p class="adddress">
                                        {{ request.user.address|truncatewords:9 }}
                                    </p>
                                    <p class="countryname">
                                        {% if request.user.is_admin %} Admin {% else %} SuperAdmin {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="resulttable-pos">
                            <table class="table right-table">

                                <tbody>
                                <tr class="d-flex align-items-center justify-content-between">
                                    <th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
                                        Total Items
                                    </th>
                                    <td class="border-0 justify-content-end d-flex text-dark font-size-base">6</td>

                                </tr>
                                <tr class="d-flex align-items-center justify-content-between">
                                    <th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
                                        Subtotal
                                    </th>
                                    <td class="border-0 justify-content-end d-flex text-dark font-size-base">$900</td>

                                </tr>
                                <tr class="d-flex align-items-center justify-content-between">
                                    <th class="border-0 ">
                                        <div class="d-flex align-items-center font-size-h5 mb-0 font-size-bold text-dark">
                                            DISCOUNT
                                        </div>
                                    </th>
                                    <td class="border-0 justify-content-end d-flex text-dark font-size-base">10%</td>

                                </tr>
                                <tr class="d-flex align-items-center justify-content-between item-price">
                                    <th class="border-0 font-size-h5 mb-0 font-size-bold text-primary">
                                        TOTAL
                                    </th>
                                    <td class="border-0 justify-content-end d-flex text-primary font-size-base">$81000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end align-items-center flex-column buttons-cash">
                            <div>
                                <a href="javascript:void(0)" class="btn btn-primary white mb-2"  data-toggle="modal" data-target="#payment-popup">
                                    <i class="fas fa-money-bill-wave mr-2"></i>
                                    Paid with Cash
                                </a>
                            </div>
                            <div>
                                <a href="javascript:void(0)" class="btn btn-outline-secondary ">
                                    <i class="fas fa-credit-card mr-2"></i>
                                    Paid with Card
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left" id="payment-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel11">Payment</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <table class="table right-table">
                    <tbody>
                    <tr class="d-flex align-items-center justify-content-between">
                        <th class="border-0 px-0 font-size-lg mb-0 font-size-bold text-primary">

                            Total Amount to Pay :

                        </th>
                        <td class="border-0 justify-content-end d-flex text-primary font-size-lg font-size-bold px-0 font-size-lg mb-0 font-size-bold text-primary">

                            $722

                        </td>
                    </tr>
                    <tr class="d-flex align-items-center justify-content-between">
                        <th class="border-0 px-0 font-size-lg mb-0 font-size-bold text-primary">

                            Payment Mode :

                        </th>
                        <td class="border-0 justify-content-end d-flex text-primary font-size-lg font-size-bold px-0 font-size-lg mb-0 font-size-bold text-primary">

                            Cash

                        </td>

                    </tr>
                    </tbody>
                </table>
                <form>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label  class="text-body">Received Amount</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="number"  class="form-control"  value="$1000" placeholder="Enter Amount ">
                            </fieldset>
                            <div class="p-3 bg-light-dark d-flex justify-content-between border-bottom">
                                <h5 class="font-size-bold mb-0">Amount to Return :</h5>
                                <h5 class="font-size-bold mb-0">-$20</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label  class="text-body">Note (If any)</label>
                            <fieldset class="form-label-group ">
                                <textarea class="form-control fixed-size" id="horizontalTextarea" rows="5" placeholder="Enter Note"></textarea>

                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-6  text-right">
                            <a href="pos.html#" class="btn btn-primary">Submit</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="shippingpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel12">Add Shipping Address</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Country</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent  p-0 border-0" name="state">
                                    <option value="AL">USA</option>

                                    <option value="WY">UK</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">State</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"   placeholder="Enter State ">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">City</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">Bahreen</option>

                                    <option value="WY">Dubai</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Postal Code</label>
                            <fieldset class="form-group mb-3">
                                <input type="number" name="text"  class="form-control"   placeholder="Enter Postal code">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Address</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Address">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Phone Number</label>
                            <fieldset class="form-group mb-3">
                                <input type="number" name="text"  class="form-control"  placeholder="Enter Phone Number">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-6  text-right">
                            <a href="pos.html#" class="btn btn-primary">Add Address</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="choosecustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel13" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel13">Add Customer</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Customer Group</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">General</option>

                                    <option value="WY">Partial</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Customer Name</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Customer Name">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Company Name</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Company Name">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Tax Number</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Tax">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Email</label>
                            <fieldset class="form-group mb-3">
                                <input type="email" name="text"  class="form-control"  placeholder="Enter Mail">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Phone Number</label>
                            <fieldset class="form-group mb-3">
                                <input type="email" name="text"  class="form-control"  placeholder="Enter Phone Number">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Country</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">USA</option>

                                    <option value="WY">UK</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">State</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter State">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">City</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">Dubai</option>

                                    <option value="WY">Bahreen</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Postal Code</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Postal Code">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-6">
                            <label  class="text-body">Address</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control "  placeholder="Enter Address">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-6  text-right">
                            <a href="pos.html#" class="btn btn-primary">Add Customer</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="folderpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel14" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel14">Draft Orders</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body pos-ordermain">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title">Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pos-order">
                            <h3 class="pos-order-title" >Order 1</h3>
                            <div class="orderdetail-pos">
                                <p>
                                    <strong>Customer Name</strong>
                                    Sophia Hale
                                </p>
                                <p>
                                    <strong>Address</strong>
                                    9825 Johnsaon Dr.Columbo,MD21044
                                </p>
                                <p>
                                    <strong>Payment Status</strong>
                                    Pending
                                </p>
                                <p>
                                    <strong>Total Items</strong>
                                    10
                                </p>
                                <p>
                                    <strong>Amount to Pay</strong>
                                    $722
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-edit"></i></a>
                                <a href="pos.html#" class="confirm-delete ml-3" title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer border-0">
                <div class="row">
                    <div class="col-12">
                        <a href="pos.html#" class="btn btn-primary">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="discountpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel122">Add Discount</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label  class="text-body">Discount</label>
                        <fieldset class="form-group mb-3 d-flex">
                            <input type="text" name="text" class="form-control bg-white"  placeholder="Enter Discount">
                            <a href="javascript:void(0)" class="btn-secondary btn ml-2 white pt-1 pb-1 d-flex align-items-center justify-content-center">Apply</a>
                        </fieldset>
                        <div class="p-3 bg-light-dark d-flex justify-content-between border-bottom">
                            <h5 class="font-size-bold mb-0">Discount Applied of:</h5>
                            <h5 class="font-size-bold mb-0">$20</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="shippingcost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1444" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel1444">Add Shipping Cost</h3>
                <button type="button" class="close rounded-pill btn btn-sm btn-icon btn-light btn-hover-primary m-0" data-dismiss="modal" aria-label="Close">
                    <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Customer</label>
                            <fieldset class="form-group mb-3">
                                <input type="text" name="text"  class="form-control"  placeholder="Enter Customer " value="David Jones" disabled>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Shipping Address</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">928 Johnsaon Dr Columbo,MD 21044</option>

                                    <option value="WY">933 Johnsaon Dr Columbo,MD 21044</option>
                                </select>
                            </fieldset>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label  class="text-body">Shipping Charges</label>
                            <fieldset class="form-group mb-3">
                                <input type="number" name="text"  class="form-control"  placeholder="Enter Shipping Charges">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label  class="text-body">Shipping Status</label>
                            <fieldset class="form-group mb-3">
                                <select class="js-example-basic-single js-states form-control bg-transparent p-0 border-0" name="state">
                                    <option value="AL">Packed</option>

                                    <option value="WY">Open</option>
                                </select>
                            </fieldset>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label  class="text-body">Shipping Charges</label>
                            <fieldset class="form-label-group ">
                                <textarea class="form-control fixed-size"  rows="5" placeholder="Textarea"></textarea>

                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-6  text-right">
                            <a href="pos.html#" class="btn btn-primary">Update Order</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'dashboard/assets/js/plugin.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/multiple-select.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/sweetalert.js' %}"></script>
<script src="{% static 'dashboard/assets/js/sweetalert1.js' %}"></script>
<script src="{% static 'dashboard/assets/js/script.bundle.js' %}"></script>
<script>
    jQuery(function() {
        jQuery('.arabic-select').multipleSelect({
            filter: true,
            filterAcceptOnEnter: true
        })
    });
    jQuery(function() {
        jQuery('.js-example-basic-single').multipleSelect({
            filter: true,
            filterAcceptOnEnter: true
        })
    });
    jQuery(document).ready(function() {
        jQuery('#orderTable').DataTable({

            "info":     false,
            "paging":   false,
            "searching": false,

            "columnDefs": [ {
                "targets"  : 'no-sort',
                "orderable": false,
            }]
        });
    } );
</script>

</body>
<!--end::Body-->


</html>