{% extends 'dashboard/base.html' %}
{% block title %} Statistics {% endblock %}
{% block page-title %}Statistics{% endblock %}
{% block nav-link-stats %} active {% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card card-custom gutter-b bg-white border-0 theme-circle theme-circle-primary">

                <div class="card-body">
                    <h3 class="text-body font-weight-bold">Purchases</h3>
                    <div class="mt-3">
                        <div class="d-flex align-items-center">
                        <span class="text-dark font-weight-bold font-size-h1 mr-3">₦<span
                                class="counter" data-target="{{ purchases }}">0</span></span>

                        </div>
                        <div class="text-black-50 mt-3">All Time Purchase</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card card-custom gutter-b bg-white border-0 theme-circle theme-circle theme-circle-secondary">

                <div class="card-body">
                    <h3 class="text-body font-weight-bold">Products</h3>
                    <div class="mt-3">
                        <div class="d-flex align-items-center">
                            <span class="text-dark font-weight-bold font-size-h1 mr-3">
                                <span class="counter" data-target="{{products}}">0</span></span>

                        </div>
                        <div class="text-black-50 mt-3">Total count value</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card card-custom gutter-b bg-white border-0 theme-circle theme-circle-success">

                <div class="card-body">
                    <h3 class="text-body font-weight-bold">Users</h3>
                    <div class="mt-3">
                        <div class="d-flex align-items-center">
                            <span class="text-dark font-weight-bold font-size-h1 mr-3"><span
                                    class="counter" data-target="{{ users }}">0</span></span>

                        </div>
                        <div class="text-black-50 mt-3">Total Number</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card card-custom gutter-b bg-white border-0 theme-circle theme-circle-info">

                <div class="card-body">
                    <h3 class="text-body font-weight-bold">Sales</h3>
                    <div class="mt-3">
                        <div class="d-flex align-items-center">
                                <span class="text-dark font-weight-bold font-size-h1 mr-3">
                                    ₦<span class="counter" data-target="{{ sales.count }}">0</span>
                                </span>
                            <span
                                    class="font-weight-bold font-size-h4 {% if sales.profit %}text-success{% else %}text-danger{% endif %}">
                                {% if sales.profit_level == 0 %}
                                    100%
                                {% else %}
                                    {{ sales.profit_level }}%
                                {% endif %}
                            </span>
                            <span class="svg-icon ml-1 {% if sales.profit %}text-success{% else %}text-danger{% endif %}">
                                <i class="fa {% if sales.profit %}fa-arrow-up{% else %}fa-arrow-down{% endif %}"></i>
                            </span>
                        </div>
                        <div class="text-black-50 mt-3">All Time Sales</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card card-custom gutter-b bg-white border-0">
                <div class="card-header align-items-center  border-0">
                    <div class="card-title mb-0">
                        <h3 class="card-label font-weight-bold mb-0 text-body">Recent Cash Flow
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="timeline timeline-6 mt-3">
                        {% for flow in cashFlows %}
                            <div class="timeline-item align-items-start">
                                <div class="timeline-label font-weight-bold text-black-50 ">{{ flow.created_at|time }}</div>
                                <div class="timeline-badge">
                                    <i class="fa fa-genderless {% cycle 'text-warning' 'text-success' 'text-danger' 'text-primary' %} icon-xl"></i>
                                </div>
                                <div class="font-weight-bolder timeline-content text-muted pl-3">
                                    {% if flow.product_purchase %}
                                        {{ flow.product_purchase.created_by.name }}
                                        <a href="{% url 'dashboard:purchases' %}" class="text-primary">purchased items</a>
                                        worth ₦{{ flow.product_purchase_amount }}
                                    {% else %}
                                        {{ flow.product_sale.created_by.name }}
                                        <a href="{% url 'dashboard:sales' %}" class="text-primary">sold items</a>
                                        worth ₦{{ flow.product_sale_amount }}
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 text-center text-primary">
                                <h5>Empty Cash Flow History</h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}